.main{
    width: calc(100% - 300px);
    margin-left: 300px;
    padding-top: 150px;
    min-height: 100vh;
}
.header{
    font-size: 30px;
    font-weight: 300;
    color: #00880f;
    text-align: center;
}
.location{
    border-radius: 30px;
    width: 90%;
    margin: auto;
    height: 30px;
    background-color: #eee;
    display: flex;
    align-items: center;
}
.links{
    display: flex;
    width: 100%;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: rgb(126, 126, 206);
    font-size: 14px;
    padding-right: 5px;
    padding-left: 15px;
}
.links span{
    text-decoration: none;
    color: rgb(109, 188, 116);
    font-size: 14px;
    padding-left: 5px;
}
.location h1{
    font-size: 12px;
    color: red;
}
.allProducts{
    padding-top: 30px;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.linksNavbar{
    display: none;
}
@media screen and (max-width: 1000px ){
    .allProducts{
        padding-top: 30px;
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr ;
    
    }
}

@media screen and (max-width: 800px ){
    .main{
        width: 100%;
        margin: 0px;
    }
    .linksNavbar{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 20px;
        width:80%;
        margin:auto;
    }
    .linksNavbar a{
        font-size: 12px;
        margin: 5px 0px;
        padding: 5px 8px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: #00880f;
        border-radius: 30px;
        border: 1px solid #064d0f;
        transition: all 1s ease;
    }
    .linksNavbar a:hover{
        background-color: #064d0f;
        transition: all 1s ease;
    }
}
@media screen and (max-width: 600px ){
    .allProducts{
        grid-template-columns: 1fr
    }
}